<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DB_Explore</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: #4c40b7;">
<br/>
<div class="card" style="background-color: white;  position: absolute; left: 10%; right: 10%; width: auto; padding: 20px;">
    <h2>Database Shortcuts</h2>
    <br/>
    <a href="/delete-all"><button class="btn btn-danger" style="position: center">Удалить всё</button></a>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/>
{% for order in orders %}
    <div class="card" style="background-color: white;  position: absolute; left: 10%; right: 10%; width: auto; padding: 20px;">
    <h1>Номер заказа: {{ order.id }}</h1>
        <br/>
        <p>Платформа: {{ order.owner_platform }}</p>
        <p>ID пользователя: {{ order.owner_id }}</p>
    <p>Адрес: {{ order.address }}</p>
    <p>Пицца: {{ order.pizza }}</p>
    <p>Ресторан: {{ order.rest }}</p>
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endfor %}
</body>
</html>